@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background-color: #000;
        --foreground-color: rgba(255, 255, 255, 0.7);
        --foreground-color-active: white;
        --transition: 250ms ease-in-out;
    }

    /* CSS Reset */
    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
}
