:root {
    --background-color: #2b2b2b;
    --foreground-color: rgba(255, 255, 255, 0.7);
    --foreground-color-active: white;
    --transition: 250ms ease-in-out;
}

/* CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    height: 100%;
    overflow: hidden
}

body {
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 300;
}

header {
    display: grid;
    gap: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    min-width: 750px;
    background: var(--background-color);
    box-shadow: 3px 3px 8px 0px var(--background-color);
    font-family: "Lato", sans-serif;
    --color: #008aff;
    grid-template-columns: max-content auto min-content;
    grid-template-areas: "title nav github";
}

header > * {
    align-self: center;
}

.title{
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: var(--foreground-color);
    overflow: hidden;
}

header nav > ul {
    justify-content: end;
}

header a {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: var(--foreground-color);
    overflow: hidden;
    position: relative;
    z-index: 1;
    --slantness: 4rem;
}

header a::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: calc( (100% + var(--slantness)) * -1);
    top: 0%;
    bottom: 0%;
    width: calc(100% + var(--slantness));
    clip-path: polygon(0% 0%, 100% 0%, calc(100% - var(--slantness)) 100%, 0% 100%);
    background: var(--color);
    opacity: 0;
    transition: all var(--transition);
}

header a:hover > i {
    color: var(--background-color);
}

header a:hover::after {
    left: 0%;
    opacity: 1;
}

.github {
    grid-area: github;
    place-self: end;
    color: var(--color);
    font-size: 27.5px;
    transition: all var(--transition);
}

nav > ul {
    grid-area: nav;
    place-self: center;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 0.5rem;
    list-style: none;
}

nav a > i {
    margin-right: 0.5em;
    color: var(--color);
    font-size: 0.7em;
    transition: all var(--transition);
}

/* Content styles */
.content {

}

.input-section {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-section label {
    margin-right: 10px;
    font-weight: bold;
    color: #fff;
    font-family: Arial, sans-serif;
}

.input-section input[type="number"] {
    width: 80px;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.input-section select {
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.input-section button {
    padding: 10px 20px;
    background: #5433FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #000;
    border: 2px solid #000;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 10px;
    font-family: Arial, sans-serif;
}

.loading-section {
    display: none;
    margin-bottom: 20px;
}

.loading-section #loading-image {
    width: 40px;
}

#graph-section {
    width: 100%;
    height: 400px;
}
